In [1]:
import pandas as pd

In [2]:
movies = pd.read_csv('my_movies10.csv')

In [66]:
movies

,ID,NAME,INDUSTRY,GENRE,LANGUAGE,DURATION,RATING,Unnamed: 7
0,1,Bahubali,Tollywood,Action,Telugu,170,9.5,NaN
1,2,Brahmastre,Bollywood,Mysterious,Hindi,180,5.0,NaN
2,3,URI-The Surgical Strike,Bollywood,Bollywood,Hindi,120,10.0,NaN
3,4,DDLJ,Bollywood,Romantic,Hindi,150,10.0,NaN
4,5,Avengers-End game,Hollywood,Action,English,180,9.0,NaN
5,6,Tenet,Hollywood,SciFi,English,150,8.5,NaN
6,7,Major,Bollywood,Action,Hindi,140,8.0,NaN
7,8,Intersteller,Hollywood,SciFi,English,190,7.0,NaN
8,9,Gravity,Hollywood,SciFi,English,130,6.0,NaN
9,10,Titanic,Hollywood,Drama,English,180,9.0,NaN
10,11,Yeh jawani hai dewani,Hollywood,Romantic,Hindi,150,5.0,NaN
11,12,Houseful,Bollywood,Comedy,Hindi,150,6.0,NaN
12,13,The Dictator,Hollywood,Comedy,English,120,7.0,NaN
13,14,Hera Sheri,Bollywood,Comedy,Hindi,140,9.0,NaN
14,15,Sholay,Bollywood,Drama,Hindi,150,8.5,NaN

In [5]:
movies['DURATION'].argmax()

7

In [20]:
movies['NAME ']

0                    Bahubali
1                  Brahmastre
2     URI-The Surgical Strike
3                        DDLJ
4           Avengers-End game
5                       Tenet
6                       Major
7                Intersteller
8                     Gravity
9                     Titanic
10      Yeh jawani hai dewani
11                   Houseful
12               The Dictator
13                 Hera Sheri
14                     Sholay
Name: NAME , dtype: object

In [22]:
movies['NAME '][movies['DURATION'].argmax()]

'Intersteller'

2.Number of movies who got 10 rating?

In [25]:
sum(movies['RATING']==10)

2

2.How many industries are there?

In [30]:
movies['INDUSTRY'].value_counts().count()

3

In [31]:
len(movies['INDUSTRY'].value_counts())

3

In [32]:
movies['INDUSTRY'].nunique()

3

4. Find least Linked Comedy Movie?

In [35]:
movies[movies['GENRE'] == 'Comedy']

    ID         NAME    INDUSTRY   GENRE LANGUAGE  DURATION  RATING  Unnamed: 7
11  12      Houseful  Bollywood  Comedy    Hindi       150     6.0         NaN
12  13  The Dictator  Hollywood  Comedy  English       120     7.0         NaN
13  14    Hera Sheri  Bollywood  Comedy    Hindi       140     9.0         NaN

In [36]:
movies[movies['GENRE'] == 'Comedy']['RATING']

11    6.0
12    7.0
13    9.0
Name: RATING, dtype: float64

In [37]:
movies[movies['GENRE'] == 'Comedy']['RATING'].min()

6.0

In [53]:
movies['NAME '][movies[movies['GENRE'] == 'Comedy']['RATING'].idmin()]

AttributeError: 'Series' object has no attribute 'idmin'

In [55]:
movies.columns

Index(['ID', 'NAME ', 'INDUSTRY', 'GENRE', 'LANGUAGE', 'DURATION', 'RATING',
       'Unnamed: 7'],
      dtype='object')

5.longest english movie name

In [60]:
movies['NAME '][movies[movies['lANGUAGE']]=='[English']['DURATION'].idmax()]

SyntaxError: unmatched ']' (651089043.py, line 1)

6.What is genre of intersteller

In [65]:
movies['GENRE'][movies['NAME ']=='Intersteller'].values[0]

'SciFi'

In [69]:
'hello'.split('e')

['h', 'llo']

In [71]:
movies['GENRE'][movies['NAME '].str.lower()=='Intersteller'.lower()].values[0]

'SciFi'

In [75]:
name=movies['NAME ']

In [79]:
name.str.get_dummies()

,Avengers-End game,Bahubali,Brahmastre,DDLJ,Gravity,Hera Sheri,Houseful,Intersteller,Major,Sholay,Tenet,The Dictator,Titanic,URI-The Surgical Strike,Yeh jawani hai dewani
0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0
1,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0
3,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0
4,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0
5,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0
6,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0
7,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0
8,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0
9,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0
10,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1
11,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0
12,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0
13,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0
14,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0

In [81]:
movies['GENRE'].str.get_dummies()

    Action  Bollywood  Comedy  Drama  Mysterious  Romantic  SciFi
0        1          0       0      0           0         0      0
1        0          0       0      0           1         0      0
2        0          1       0      0           0         0      0
3        0          0       0      0           0         1      0
4        1          0       0      0           0         0      0
5        0          0       0      0           0         0      1
6        1          0       0      0           0         0      0
7        0          0       0      0           0         0      1
8        0          0       0      0           0         0      1
9        0          0       0      1           0         0      0
10       0          0       0      0           0         1      0
11       0          0       1      0           0         0      0
12       0          0       1      0           0         0      0
13       0          0       1      0           0         0      0
14       0          0       0      1           0         0      0

In [83]:
name.str.split('e').str.join('--+--')

0                            Bahubali
1                      Brahmastr--+--
2     URI-Th--+-- Surgical Strik--+--
3                                DDLJ
4       Av--+--ng--+--rs-End gam--+--
5                       T--+--n--+--t
6                               Major
7            Int--+--rst--+--ll--+--r
8                             Gravity
9                             Titanic
10      Y--+--h jawani hai d--+--wani
11                       Hous--+--ful
12                   Th--+-- Dictator
13                 H--+--ra Sh--+--ri
14                             Sholay
Name: NAME , dtype: object

In [82]:
name.str.join('.')

0                                   B.a.h.u.b.a.l.i
1                               B.r.a.h.m.a.s.t.r.e
2     U.R.I.-.T.h.e. .S.u.r.g.i.c.a.l. .S.t.r.i.k.e
3                                           D.D.L.J
4                 A.v.e.n.g.e.r.s.-.E.n.d. .g.a.m.e
5                                         T.e.n.e.t
6                                         M.a.j.o.r
7                           I.n.t.e.r.s.t.e.l.l.e.r
8                                     G.r.a.v.i.t.y
9                                     T.i.t.a.n.i.c
10        Y.e.h. .j.a.w.a.n.i. .h.a.i. .d.e.w.a.n.i
11                                  H.o.u.s.e.f.u.l
12                          T.h.e. .D.i.c.t.a.t.o.r
13                              H.e.r.a. .S.h.e.r.i
14                                      S.h.o.l.a.y
Name: NAME , dtype: object

In [86]:
name.str.upper()

0                    BAHUBALI
1                  BRAHMASTRE
2     URI-THE SURGICAL STRIKE
3                        DDLJ
4           AVENGERS-END GAME
5                       TENET
6                       MAJOR
7                INTERSTELLER
8                     GRAVITY
9                     TITANIC
10      YEH JAWANI HAI DEWANI
11                   HOUSEFUL
12               THE DICTATOR
13                 HERA SHERI
14                     SHOLAY
Name: NAME , dtype: object

In [87]:
name.str.strip()

0                    Bahubali
1                  Brahmastre
2     URI-The Surgical Strike
3                        DDLJ
4           Avengers-End game
5                       Tenet
6                       Major
7                Intersteller
8                     Gravity
9                     Titanic
10      Yeh jawani hai dewani
11                   Houseful
12               The Dictator
13                 Hera Sheri
14                     Sholay
Name: NAME , dtype: object

In [88]:
movies['GENRE'][movies['NAME '].str.strip().str.lower()=='Intersteller'.lower()].values[0]

'SciFi'

7.what is the average duration of each genre

In [89]:
movies['GENRE'].unique()

array(['Action', 'Mysterious', 'Bollywood', 'Romantic', 'SciFi', 'Drama',
       'Comedy'], dtype=object)

In [90]:
movies['GENRE'].nunique()

7

In [92]:
movies['GENRE'].value_counts()

Action        3
SciFi         3
Comedy        3
Romantic      2
Drama         2
Mysterious    1
Bollywood     1
Name: GENRE, dtype: int64

In [99]:
for GENRE in movies['GENRE'].unique():
    print(GENRE,movies[movies['GENRE']==GENRE]['DURATION'].mean())

Action 163.33333333333334
Mysterious 180.0
Bollywood 120.0
Romantic 150.0
SciFi 156.66666666666666
Drama 165.0
Comedy 136.66666666666666

In [100]:
movies.groupby('GENRE')['DURATION'].mean()

GENRE
Action        163.333333
Bollywood     120.000000
Comedy        136.666667
Drama         165.000000
Mysterious    180.000000
Romantic      150.000000
SciFi         156.666667
Name: DURATION, dtype: float64

In [102]:
movies.groupby(['GENRE','INDUSTRY'])['DURATION'].mean()

GENRE       INDUSTRY
Action      Bollywood    140.000000
            Hollywood    180.000000
            Tollywood    170.000000
Bollywood   Bollywood    120.000000
Comedy      Bollywood    145.000000
            Hollywood    120.000000
Drama       Bollywood    150.000000
            Hollywood    180.000000
Mysterious  Bollywood    180.000000
Romantic    Bollywood    150.000000
            Hollywood    150.000000
SciFi       Hollywood    156.666667
Name: DURATION, dtype: float64

In [103]:
movies.groupby(['INDUSTRY','GENRE'])['DURATION'].mean()

INDUSTRY   GENRE
Bollywood  Action        140.000000
           Bollywood     120.000000
           Comedy        145.000000
           Drama         150.000000
           Mysterious    180.000000
           Romantic      150.000000
Hollywood  Action        180.000000
           Comedy        120.000000
           Drama         180.000000
           Romantic      150.000000
           SciFi         156.666667
Tollywood  Action        170.000000
Name: DURATION, dtype: float64

In [105]:
movies.describe()

              ID    DURATION     RATING  Unnamed: 7
count  15.000000   15.000000  15.000000         0.0
mean    8.000000  153.333333   7.833333         NaN
std     4.472136   22.253946   1.718249         NaN
min     1.000000  120.000000   5.000000         NaN
25%     4.500000  140.000000   6.500000         NaN
50%     8.000000  150.000000   8.500000         NaN
75%    11.500000  175.000000   9.000000         NaN
max    15.000000  190.000000  10.000000         NaN

In [128]:
movies

,NAME,INDUSTRY,GENRE,LANGUAGE,DURATION,RATING,Unnamed: 7
0,Bahubali,Tollywood,Action,Telugu,170,9.5,NaN
1,Brahmastre,Bollywood,Mysterious,Hindi,180,5.0,NaN
2,URI-The Surgical Strike,Bollywood,Bollywood,Hindi,120,10.0,NaN
3,DDLJ,Bollywood,Romantic,Hindi,150,10.0,NaN
4,Avengers-End game,Hollywood,Action,English,180,9.0,NaN
5,Tenet,Hollywood,SciFi,English,150,8.5,NaN
6,Major,Bollywood,Action,Hindi,140,8.0,NaN
7,Intersteller,Hollywood,SciFi,English,190,7.0,NaN
8,Gravity,Hollywood,SciFi,English,130,6.0,NaN
9,Titanic,Hollywood,Drama,English,180,9.0,NaN
10,Yeh jawani hai dewani,Hollywood,Romantic,Hindi,150,5.0,NaN
11,Houseful,Bollywood,Comedy,Hindi,150,6.0,NaN
12,The Dictator,Hollywood,Comedy,English,120,7.0,NaN
13,Hera Sheri,Bollywood,Comedy,Hindi,140,9.0,NaN
14,Sholay,Bollywood,Drama,Hindi,150,8.5,NaN

In [123]:
movies.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15 entries, 0 to 14
Data columns (total 7 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   NAME        15 non-null     object
 1   INDUSTRY    15 non-null     object
 2   GENRE       15 non-null     object
 3   LANGUAGE    15 non-null     object
 4   DURATION    15 non-null     int64
 5   RATING      15 non-null     float64
 6   Unnamed: 7  0 non-null      float64
dtypes: float64(2), int64(1), object(4)
memory usage: 968.0+ bytes

In [127]:
movies.describe(include='all')

,NAME,INDUSTRY,GENRE,LANGUAGE,DURATION,RATING,Unnamed: 7
count,15,15,15,15,15.000000,15.000000,0.0
unique,15,3,7,3,NaN,NaN,NaN
top,Bahubali,Bollywood,Action,Hindi,NaN,NaN,NaN
freq,1,7,3,8,NaN,NaN,NaN
mean,NaN,NaN,NaN,NaN,153.333333,7.833333,NaN
std,NaN,NaN,NaN,NaN,22.253946,1.718249,NaN
min,NaN,NaN,NaN,NaN,120.000000,5.000000,NaN
25%,NaN,NaN,NaN,NaN,140.000000,6.500000,NaN
50%,NaN,NaN,NaN,NaN,150.000000,8.500000,NaN
75%,NaN,NaN,NaN,NaN,175.000000,9.000000,NaN
max,NaN,NaN,NaN,NaN,190.000000,10.000000,NaN

In [131]:
movies.groupby('INDUSTRY').describe().T

INDUSTRY           Bollywood   Hollywood  Tollywood
DURATION   count    7.000000    7.000000        1.0
           mean   147.142857  157.142857      170.0
           std     17.994708   26.903708        NaN
           min    120.000000  120.000000      170.0
           25%    140.000000  140.000000      170.0
           50%    150.000000  150.000000      170.0
           75%    150.000000  180.000000      170.0
           max    180.000000  190.000000      170.0
RATING     count    7.000000    7.000000        1.0
           mean     8.071429    7.357143        9.5
           std      1.924157    1.546886        NaN
           min      5.000000    5.000000        9.5
           25%      7.000000    6.500000        9.5
           50%      8.500000    7.000000        9.5
           75%      9.500000    8.750000        9.5
           max     10.000000    9.000000        9.5
Unnamed: 7 count    0.000000    0.000000        0.0
           mean          NaN         NaN        NaN
           std           NaN         NaN        NaN
           min           NaN         NaN        NaN
           25%           NaN         NaN        NaN
           50%           NaN         NaN        NaN
           75%           NaN         NaN        NaN
           max           NaN         NaN        NaN

8.Average Rating each industry

In [132]:
movies.groupby('INDUSTRY')['RATING'].mean()

INDUSTRY
Bollywood    8.071429
Hollywood    7.357143
Tollywood    9.500000
Name: RATING, dtype: float64

9.average rating of romantic movies industry wise

In [135]:
movies[movies['GENRE']str.lower()=='Romantic'].groupby('INDUSTRY')['RATING'].mean()

SyntaxError: invalid syntax (4142242866.py, line 1)

10.List down all the english movies with their respective ratings in descending order

In [137]:
movies[movies['LANGUAGE'].str.lower()=='English'][['NAME ','RATING']].sort_values(by='RATING',ascending=False)

Empty DataFrame
Columns: [NAME , RATING]
Index: []